* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.orange {
    color: #ffa620
}

.dark {
    color: #474747
}

.light {
    background-color: #fff8f2;
    color: #fff8f2;
}

.light-orange {
    color: #ffd79a;
}

.title {
    font-family: 'Abril Fatface';
}

.text {
    font-family: 'Cabin', sans-serif;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.row-about {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #474747;
}

li {
    list-style-type: none;
}

nav li:hover {
    transform: scale(1.5);
    transition: all 500ms ease-in-out;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.click {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 1px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all 300ms ease;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #f06449;
}

label {
    font-size: 14px;
    font-weight: bold;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}
/* dark theme */
.dark-theme .navbar__container,
.dark-theme #home,
.dark-theme #about,
.dark-theme .row-about,
.dark-theme ,
.dark-theme #projects,
.dark-theme .footer__desc{
    background-color: #242424;
}

.dark-theme i,
.dark-theme nav a,
.dark-theme .about__title,
.dark-theme .about__container,
.dark-theme .tech__stack--title,
.dark-theme .project__title,
.dark-theme .header__para,
.dark-theme .git--text {
    color: rgb(216, 216, 216);
}

.dark-theme .modal__title,
.dark-theme .form__item,
.dark-theme .modal__sub-title,
.dark-theme .input,
.dark-theme .fa-spinner,
.dark-theme .modal__exit { 
    color:#242424
}

.dark-theme .project__wrapper {
    box-shadow: 0 20px 80px 0 rgba(255, 255, 255, 0.1);
}

.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon::after,
.dark-theme .link__hover-effect--black::after,
.dark-theme .modal__contact,
.dark-theme textarea, 
.dark-theme input,
.dark-theme .modal__overlay{
    background-color:  white;
}

.dark-theme .shape {
    z-index: 0;
   filter: contrast(1%);
}

/* header */


.mail__btn {
    height: 70px;
    width: 70px;
    color: #fff;
    background: #f98a1a;
    border-radius: 70px;
    position: fixed;
    right: 40px;
    bottom: 32px;
    border: none;
    box-shadow: 0 12px 48px 0 rgb(0, 0, 0, 0.45);
    font-size: 32px;
    z-index: 100;
    transition: all 450ms ease;
}

.mail__btn:hover {
    transform: scale(1.2);
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__icon::after {
    content: "";
    width: 4px;
    height: 8px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

/* modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
  }
  .modal--open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
  }

  .modal__half {
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
  }
  
  .modal--open .modal__contact
  {
    transform: translateX(0%);
  }
  
  .modal__contact {
    transform: translateX(110%);
    background-color: #242424;
    color: white;
  }
  
  .modal__title {
    font-size: 40px;
  }
  
  .modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
  }
  
  .modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
  }

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #f98a1a;
    border: 2px solid #f98a1a;
    color: white;
    font-weight: bold;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 40px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #ee600e;
    color: #ee600e;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #ffa620;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    z-index: -1;
    color: #fff;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
}

.modal--open .navbar__container,
.modal--open .scroll, 
.modal--open .home__title, 
.modal--open #about{
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}


/* home */


.navbar__container {
    max-width: 400px;
    margin: auto;
    padding: 68px 16px;
    position: static;
}

.navbar__container--links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin-left: 4px;
}

.home__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
}

.home__title--intro {
    font-size: 114px;
}

.home__para {
    font-size: 24px;
}

/* about */

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.about__me {
    padding-right: 90px;
}

.about__me--title {
    font-size: 56px;
    padding-bottom: 8px;
}

.about__me--pic {
    height: 350px;
}

.about__cv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px; 
}

.about__me--text {
    font-size: 36px;
    text-decoration: none;
    background-color: #ffa620;
    padding: 8px 53px; 
}

.about__me--text:hover {
    color: #ffd79a;
}

.about__me--text-en {
    font-size: 36px;
    text-decoration: none;
    background-color: #ffa620;
    padding: 8px 86px; 
}

.about__me--text-en:hover {
    color: #ffd79a;
}

.about__me--links {
    list-style: none;
    display: flex;
    font-size: 36px;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-left: 28px;
    text-decoration: none;
}

.about__me--links li a i {
    color: #ffd79a;
}

.about__me--links li a:hover i {
    color: #ffa620;
}

.about__text {
    min-width: 900px;
    padding-right: 48px;
    text-align: start;
}

.about__text--title {
    font-size: 68px;
}

.about__text--para {
    font-size: 28px;
}

.tech__stack--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech__stack--container {
    display: flex;
    justify-content: center;
    position: relative;
}

.tech__stack--img {
    margin: 32px 24px;
    text-align: center;    
    transition: all 300ms;
}

.tech__stack--container:hover .tech__stack--img:hover {
    filter: brightness(75%);
    opacity: 0.85;
    transform: scale(0.9);
}

.tech__stack--img img {
    width: 55px;
    height: 50px;
    opacity: 0.9;
}

.tech__stack--para {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 14px;
    opacity: 0; 
}   

.tech__stack--container:hover .tech__stack--para {
    transform: scale(1);
    opacity: 1;
} 

.html--text {
    color: #ee600e;
}

.css--text {
    color: rgb(22, 75, 234);
}

.js--text {
    color: rgb(239, 197, 12);
}

.react--text {
    color: rgb(17, 218, 244);
}
.fire--text {
    color: rgb(244, 131, 17);
}
.git--text {
    color: rgb(57, 57, 57);
}
.material--text {
    color: rgb(14, 79, 164);
}
.api--text {
    color: rgb(57, 57, 57);
}

#projects {
    padding: 60px;
    position: relative;
}

.project__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project {
    margin-top: 60px;
}

.project__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__img {
    width: 100%;
    transition: all 450ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 50px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.3);
    overflow: hidden;
    max-width: 800px;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    color: white;
    max-width: 550px;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
} 

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
}

.project__description--title {
    font-size: 40px;
}

.project__description--sub-title {
    margin-top: 8px;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}
  
/* footer */

.footer__desc {
    padding: 24px;
}

.footer__copy {
    text-align: center;
    margin-top: 36px;
} 

.project__mobile {
    display: none;
}

/* responsive */

@media (max-width:768px) {
    .navbar__container--links a{
        font-size: 16px;
    }
    .home__title {
        height: 40vh;
    }
    .home__title--intro {
        font-size: 50px;
    }
    .home__para {
        font-size: 14px;
    }
    .scroll {
        display: none;
    }
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 70px;
        height: 100vh;

    }
    .about__me--title {
        font-size: 32px;
    }
    .about__me--pic {
        width: 200px;
        height: 230px;
    }
    .about__me--text {
        font-size: 28px;
        padding: 4px 20px;
    }
    .about__me--links{
        font-size: 24px;
        padding: 24px;
    }
    .about__text {
        min-width: 400px;
        max-width: 650px;
        text-align: center;
    }
    .about__text--title {
        font-size: 42px;
    }
    .about__text--para {
        font-size: 22px;
    }
    .tech__stack--container {
        padding-top: 20px;
    }
    .tech__stack--img{
      margin: 16px 12px;
    }
    .tech__stack--para {
        font-size: 10px;
    }
    #projects {
        margin: 0 auto;
    }
    .project__title {
        font-size: 36px;
    }
    .project__mobile {
        display: block;
        font-size: 16px;
        padding: 12px;
    }
    .project__description {
        max-width: 400px;
    }
    .project__description--title {
        font-size: 28px;
    }
    .project__description--para {
        font-size: 16px;
    }
    .footer__copy {
        padding: 24px;
    }
}
@media (max-width: 458px) {
    
    .mail__btn {
        width: 40px;
        height: 40px;
        font-size: 20px;
        right: 45px;
    }
    .modal {
        height: 600px;
        width: 300px;
    }
    .modal--open .modal {
        box-shadow: 0 10px 40px 0 rgb(0, 0, 0, 0.3);
    }
    .modal__title {
        font-size: 24px;
    }
    .modal__sub-title {
        font-size: 12px;
    }
    .modal__exit{
        font-size: 24px;
    }
   .form__submit {
    font-size: 16px;
   }  
   .form__item--label {
    font-size: 12px;
   }
    body {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
    }
   .navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .navbar__container--links li{
    padding-left: 16px;
   }
    .navbar__container--links a  {
        font-size: 12px;
    }
    .navbar__container--links i {
        font-size: 12px;
    }
    nav li:hover {
        transform: none;
    }
    .home__title{
        padding-left: 20px;
    }
    .home__title--intro {
        font-size: 24px;
    }
    .home__para {
        font-size: 12px;
        width: 300px;
    }
    .scroll {
        display: none;
    }
    #landing-page {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 110vh;
        margin-left: 40px;
    }
    .about__me--title {
        font-size: 20px;
    }
    .about__me--pic {
        width: 150px;
        height: 170px;
    }
    .about__me--text {
        font-size: 16px;
        background-color: #ffa620;
        width: 150px;
        height: 33px;
    }
    .about__me--links{
        font-size: 16px;
    }
    .about__text {
        min-width: 300px;
        max-width: 300px;
        text-align: center;
        padding-right: 90px;
    }
    .about__text--title {
        font-size: 20px;
    }
    .about__text--para {
        font-size: 12px;
    }
    .tech__stack--img img {
        width: 40px;
        height: 36px;
    }
    .tech__stack--para {
      font-size: 10px;
    }
    #projects {
        padding-top: 12px;

    }
    .project__title {
        font-size: 24px;
    }
    .project__mobile {
        display: block;
        font-size: 10px;
        width: 250px;
    }
    .project__list{
        margin-top: -58px;
    }
    .project__img{
        width: 250px;
    }
    .project__description {
        left: 30px;
    }
    .project__description--title {
        font-size: 14px;
    }
    .project__description--sub-title{
        font-size: 8px;
        padding-bottom: 4px;
    }
    .project__description--para {
        display: none;
    }
    .project__description--links i {
        font-size: 12px;
    }
    .footer__desc {
        padding-bottom: 24px;
    }
    .footer__copy{
        font-size: 12px;
        margin-left: 12px;
    }
}